## Python
__pycache__/

## Data
*.h5

## Core latex/pdflatex aux files:
*.aux
*.lof
*.log
*.out
*.toc
*.fmt
*.fot
*.gz

## Bib aux files
*.bbl
*.bcf
*.blg

# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# VSCode
.vscode/

#data from pdfs/other sources
heroin_data/

#heroin papers/journal articles/other sources
heroin_papers/

#folder of talks, pdfs and powerpoints
talks/

#MATLAB extra files
*.m~
